{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <title>Início</title>
</head>
<body>
    <div>
        <h1> Seja bem-vindo a Aplicação da empresa Khanto </h1>
        <h2> Utilize as rotas abaixo para ter acesso as APIs </h2>
        <p> API 1 Imóveis => <a href="http://127.0.0.1:8000/imoveis"> http://127.0.0.1:8000/imoveis </a></p>
        <p> API 2 Anúncios => <a href="http://127.0.0.1:8000/anuncios"> http://127.0.0.1:8000/anuncios </a></p>
        <p> API 3 Reservas => <a href="http://127.0.0.1:8000/reservas">http://127.0.0.1:8000/reservas </a></p>
    </div>
</body>
</html>